

.link1 {
	box-shadow: 0px 3px 18px -7px #3e7327;
	background:linear-gradient(to bottom, #9cb54f 5%, #86a135 100%);
	background-color:#9cb54f;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size: 16px;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 50px #5b8a3c;
    margin: 5px 10px;
}
.link1:hover {
	background:linear-gradient(to bottom, #86a135 5%, #9cb54f 100%);
	background-color:#86a135;
}
.link1:active {
	position:relative;
	top:1px;
}

.searchList {
  border: 1px 0px solid #c6824b; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffffff; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.searchList:hover