<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/listStyle.css" th:href="'/listStyle.css'">
    <link rel="stylesheet" href="../static/breadcrums.css" th:href="'/breadcrums.css'">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<header></header>

<ul class="breadcrumb">
    <li><a href="#">Container</a></li>
    <li><a href="#">Rum</a></li>
    <li>Startsida</li>
</ul>
</header>

<body>
<center>
<img src="../static/2 organized.png" th:src="'/2 organized.png'" width="10%"></center>
<br><br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Sök produkter">
<ul id="myUL">
  <li><a href="#">Grej 1</a></li>
  <li><a href="#">Grej 2</a></li>

  <li><a href="#">Grej 3</a></li>
  <li><a href="#">Grej 4</a></li>

  <li><a href="#">Grej 5</a></li>
  <li><a href="#">Grej 6</a></li>
  <li><a href="#">Grej 7</a></li>
</ul>
</body>
</html>

