<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/listStyle.css" th:href="'/listStyle.css'">
    <link rel="stylesheet" href="../static/breadcrums.css" th:href="'/breadcrums.css'">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<header></header>

<ul class="breadcrumb">
    <li><a href="#">Container</a></li>
    <li><a href="#">Rum</a></li>
    <li>Startsida</li>
</ul>
</header>

<body>

<h2 align="center">Goa lelle sökningen</h2>
<form th:action="@{/search}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Owner Name & Shop Type" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <button type="submit" class="btn btn-info" >Reset</button>
</form>
<table>


    <tr th:each="item : ${room.items}">
        <th th:text="${item.item}"></th>
        <th><a th:href="'/deleteItem?room=' + ${room.room} + '&' + 'item='+ ${item.item}">Delete</a></th>
    </tr>

</table>

</body>
</html>

