<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>2 Organized - när du behöver ordning</title>


    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styleNew.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/favicon.png">

</head>
<body><div class="container">
<header>
    <br><br>
    <a href="/"><img src="../static/2 organized.png" th:src="'/2 organized.png'" width="10%">
        </a>
    <h1 th:text="${room.room}">Room</h1></header><center>


<form action="/addItem" method="POST">
    <input type="hidden" name="room" th:value="${room.room}">
    <input type="text" name="item"/>
    <input type="submit" value="Add item">
</form>
    <div class="row">
    <table class="u-full-width">
    <thead>
    <tr>
        <th><h4>Items in room &ensp;&ensp;&ensp;&ensp;</h4></th>
        <th><h4>&ensp;&ensp;&ensp;&ensp;</h4></th>
    </tr></thead>
    <tbody>

    <tr th:each="item : ${room.items}"></th>
        <th th:text="${item.item}"></th>
        <th><a th:href="'/deleteItem?room=' + ${room.room} + '&' + 'item='+ ${item.item}">Delete</a></th>
    </tr></tbody>
</table>


<div>
    <a class="link1" th:href="'/delete?room=' + ${room.room}">Delete</a>
</div></center>
</div>
</body>
</html>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
